<div class="country-selector">
  <input
    type="text"
    autocomplete="country-name"
    [ngModel]="_countrySearch()"
    (ngModelChange)="onSearchChange($event)"
    [class.error]="hasError"
    placeholder="{{ placeholder | translate }}"
    title="{{ placeholder | translate }}"
    aria-label="{{ placeholder | translate }}"
    id="{{ inputId }}"
    [name]="inputName"
    [attr.name]="inputName"
  />

  @if (filteredCountries().length > 0) {
    <ul class="country-dropdown">
      @for (country of filteredCountries(); track trackByCountry($index, country)) {
        <li (click)="selectCountry(country)" tabindex="0" (keyup.enter)="selectCountry(country)">
          {{ country }}
        </li>
      }
    </ul>
  }
</div>
