<div class="language-switcher">
  <button [class.active]="languageService.currentLang() === 'en'" (click)="setLanguage('en')">
    EN
  </button>
  <button [class.active]="languageService.currentLang() === 'de'" (click)="setLanguage('de')">
    DE
  </button>
  <button [class.active]="languageService.currentLang() === 'bs'" (click)="setLanguage('bs')">
    BS
  </button>
  <button [class.active]="languageService.currentLang() === 'sr'" (click)="setLanguage('sr')">
    SR
  </button>
  <button [class.active]="languageService.currentLang() === 'id'" (click)="setLanguage('id')">
    ID
  </button>
  <button [class.active]="languageService.currentLang() === 'pl'" (click)="setLanguage('pl')">
    PL
  </button>
</div>
