/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/soft-plant-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}