@use 'styles/buttons';
@use 'styles/forms';

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #008080, #90EE90);
  min-height: 100vh;
  padding-top: 72px; // Space for sticky header
  padding-bottom: 70px; // Space for sticky footer
}